<h2>Profile Page</h2>

<div class="profile-information">
  <table>
    <tr><td>Username</td><td><%= @user.username %></td></tr>
    <tr><td>Email</td><td><%= @user.email %></td></tr>
  </table>

  <% if current_user == @user %>
    <a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
  <% end %>
</div>

<% if @user.restaurants.count > 0 %>
  <div class="profile-restaurants">
  <h3>Restaurants</h3>
    <ul>
      <% @user.restaurants.each do |restaurant| %>
        <li style="list-style-type: none;"><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h3>Oh no, you don't have any restaurants!  Let's fix that!</h3>
<% end %>

<% if logged_in? && current_user == @user %>
  <a href="/restaurants/new">Add a Restaurant!</a>
<% end %>

<% if @user.reviews.count > 0 %>
<div class="profile-reviews">
  <h3>Reviews Posted</h3>
  <% @user.reviews.each do |review| %>
  <ul>
    <li style="list-style-type: none;"><a href="/reviews/<%= review.id %>"><%= review.title %></a></li>
  </ul>
  <% end %>
</div>

<% end %>
