<h2>Edit Restaurant</h2>
<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input type="hidden" value="put" name="_method" />
  <input type="text" name="restaurant[name]" placeholder="Restaurant Name" value="<%= @restaurant.name %>"/>
  <input type="text" name="restaurant[cuisine]" placeholder="Cuisine" value="<%= @restaurant.cuisine %>" />
  <input type="text" name="restaurant[address]" placeholder="Address" value="<%= @restaurant.address %>"/>
  <input type="text" name="restaurant[city]" placeholder="City" value="<%= @restaurant.city %>" />
  <input type="text" name="restaurant[state]" placeholder="State" value="<%= @restaurant.state %>" />
  <input type="text" name="restaurant[zip]" placeholder="Zipcode" value="<%= @restaurant.zip %>" />
  <input type="submit" value="Update Restaurant" />
</form>
