<h2>Restaurant Info Page</h2>

<table>
  <tr><td>Restaurant Name</td><td><%= @restaurant.name %></td></tr>
  <tr><td>Restaurant Owner</td><td><a href="/users/<%= @restaurant.owner.id %>"><%= @restaurant.owner.full_name %></a></td></tr>
  <tr><td>Cuisine</td><td><%= @restaurant.cuisine %></td></tr>
  <tr><td>Address</td><td><%= @restaurant.address %></td></tr>
  <tr><td>City</td><td><%= @restaurant.city %></td></tr>
  <tr><td>State</td><td><%= @restaurant.state %></td></tr>
  <tr><td>Zipcode</td><td><%= @restaurant.zip %></td></tr>
</table>

<% if @restaurant.reviews.count > 0 %>
  <h3>REVIEWS</h3>
  <% @restaurant.reviews.each do |review| %>
    <div>
      <h3><a href="/reviews/<%= review.id %>"><%= review.title %></a> <small>Rating: <%= review.rating %>/5 </small></h3>
      <p><%= review.body %></p>
      <small>Posted by <a href="/users/<%= review.reviewer.id %>"><%= review.reviewer.username %></a> on <%= review.created_at.strftime("%c") %></small>
    </div>
  <% end %>
<% end %>

<br />
<% if current_user == @restaurant.owner %>
  <a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant</a> |
  <form action="/restaurants/<%= @restaurant.id %>" method="post" class="button-link-form">
    <input type="hidden" value="delete" name="_method" />
    <input type="submit" value="Delete Restaurant" class="button-link delete"/>
  </form>
<% end %>

<% if logged_in? && Review.where(reviewer: current_user, restaurant: @restaurant).count == 0 %>
  <form action="/reviews" method="post">
    <input type="hidden" name="review[reviewer_id]" value="<%= current_user.id %>" />
    <input type="hidden" name="review[restaurant_id]" value="<%= @restaurant.id %>" /><br />
    <input type="text" name="review[title]" placeholder="Enter the Review Title" /><br />
    <textarea name="review[body]" placeholder="Enter your review here" /></textarea><br />
    <input type="range" name="review[rating]" min="1" max="5" placeholder="Rating" /><br />

    <input type="submit" value="Submit Review" />
  </form>
<% end %>
