<h2>Show Review</h2>

<h3><%= @review.title %> <small>Rating: <%= @review.rating %>/5</small></h3>
<p><%= @review.body %></p>

<% if current_user == @review.reviewer %>
  <a href="/reviews/<%= @review.id %>/edit">Edit Review</a> |
  <form action="/reviews/<%= @review.id %>" method="post" class="button-link-form">
    <input type="hidden" value="delete" name="_method" />
    <input type="submit" value="Delete Review" class="button-link delete"/>
  </form>
<% end %>
